*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(photos/background.jpg);
    background-size: cover;
    height: auto;
 
}






.wrapper{
    width: 860px;
    margin: 0 auto;


}

.wrapper ul{
    list-style: none;
    margin-top: 2%;
}


.wrapper ul li{
    background: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 14px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;


}


.wrapper ul li:hover{
    background: crimson ;
}


.wrapper ul ul{
    display: none;


}

.wrapper ul li:hover > ul{
    display: block;
}





#box:hover{
    background-color: lightseagreen;
}



#box ul li:hover{
    background: rgb(124, 68, 255);
}




.text{
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}

h1{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-size: 60px;
    margin-top: 600px;
    margin-left: 650px;
    height: 80px;

}

.button{
    margin-top: 30px;
    padding-left: 800px;

}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-right: 10px;

}

.btn-one{
    background-color: darkorange;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-one:hover{
    background-color: rgb(255, 0, 0);
}